{% load bootstrap5 %}
<!-- Load the tag library -->
<!-- Load CSS and JavaScript -->
{% bootstrap_css %}
{% bootstrap_javascript %}
<!-- Display django.contrib.messages as Bootstrap alerts  -->
{% bootstrap_messages %}
{% load static %}

{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
    <title>StudyRoom | Find study partners around the world!</title>
</head>
<style>
    /* customise bootstrap */
    

    /* mouse over link */
    a:hover {
        color: rgb(10, 217, 245) !important;
    }
    
</style>

<body class="bg-light">

    {% include 'navbar.html' %}

    {% block content %}


    {% endblock %}

    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>